#loginFrom{
  width: 50%;
  height: auto;
  margin: auto;
  padding: 30px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}
#loginFrom>label,input{
  margin: 10px;
}